<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>977684877460-3qbe98u9u3efcujjhfmnrc0q5bbgc4f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977684877460-3qbe98u9u3efcujjhfmnrc0q5bbgc4f2</string>
	<key>API_KEY</key>
	<string>AIzaSyBtQ0p3VD283uYHdjGVbLyKWWshrPkvors</string>
	<key>GCM_SENDER_ID</key>
	<string>977684877460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tccreation.pixcolor-dev</string>
	<key>PROJECT_ID</key>
	<string>livecolor-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>livecolor-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:977684877460:ios:c8b75775afe3b0e9</string>
	<key>DATABASE_URL</key>
	<string>https://livecolor-dev.firebaseio.com</string>
</dict>
</plist>